img {
    width: 200px
  }
  div {
    text-align: center;
  }
  span {
    vertical-align:middle;
  }

  .main-text {
    background-color: rgb(66, 63, 63);
    color:white;
    margin: 1%
  }

  .link-bar {
    background-color: rgb(66, 63, 63);
    color:white;
  }

  body {
    background-color: black;
  }

  h1 {
    color:white;
  }
  h3 {
    color:white;
  }